h2 {
  margin-bottom: 80px;
}

.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  margin: 0 auto;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  color: $white;
  text-align: center;
}

.header_wrapper {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_contact {
  display: none;
}

.hamburger {
  font-size: 0;
  border: none;
  box-sizing:border-box;
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  border-bottom: 3px solid $white;
  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: $white;
  }
  &::after {
    bottom: 5px;
  }
  &::before {
    bottom: 13px;
  }
  &:hover {
    cursor: pointer;
  }
}

.header_text {
  font-size: 72px;
  line-height: normal;
  color: $white;
}

.header_scroll {
  font-size: 24px;
  color: $white;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    background-image: url(/img/arrow.svg);
    bottom: -12px;
    left: calc(50% - 6px);
  }
}

.price, .review {
  margin-bottom: 80px;
}

.price_header, .review_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_name, .price_value,
.review_name {
  font-size: 24px;
  font-weight: bold;
}

.gallery_images {
  column-gap: 0;
}

.gallery_img {
  width: 100%;
}

.footer {
  background-color: $charcoal;
  color: $white;
  box-sizing: border-box;
  padding-bottom: 150px;
  padding-top: 80px;
  margin-top: 80px;
}

.contacts {
  text-align: center;
  font-size: 24px;  
}

.contacts_header {
  font-weight: bold;
}
.contacts_text {
  margin-bottom: 40px;
  line-height: 32px;
}

.social {
  font-size: 0;
}

.social_link {
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
}