h2 {
  margin-bottom: 80px;
}

.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  margin: 0 auto;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  text-align: center;
  box-sizing: border-box;
}

.header_wrapper {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 20px;
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.nav_logo {
  max-height: 40px;
  width: auto;
}

.nav_items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  @include bp(tablet-up) {
    display: flex;
  }
}

.nav_item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.nav_link {
  color: $white;
  text-decoration: none;
  font-size: 24px;
  &:hover {
    color: darken($white, 15%);
  }
}

.hamburger {
  font-size: 0;
  border: none;
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: $white;
  flex-shrink: 0;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: $white;
  }
  &::after {
    bottom: -10px;
  }
  &::before {
    bottom: 10px;
  }
  &:hover {
    cursor: pointer;
  }
  @include bp(tablet-up) {
    display: none;
  }
}

.hamburger_switch {
  display: none;
}

.hamburger_switch:checked ~ .hamburger {
  @include bp(tablet-down) {
    border-bottom: none;
    transform: rotate(45deg);
    transition: transform 0.5s;
    &::after {
      display: none;
    }
    &::before {
      width: 30px;
      transform: rotate(90deg);
      margin-bottom: -10px;
    }
  }
}

.hamburger_switch:checked ~ .nav_items {
  @include bp(tablet-down) {
    position: absolute;
    width: 100%;
    top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(#000, $alpha: 0.1);
    padding: 20px;
    box-sizing: border-box;
    .nav_item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

.header_text {
  font-size: 72px;
  line-height: normal;
  color: $white;
}

.header_scroll {
  font-size: 24px;
  color: $white;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    background-image: url(/img/arrow.svg);
    bottom: -12px;
    left: calc(50% - 6px);
  }
}

.price,
.review {
  margin-bottom: 80px;
}

.price_header,
.review_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_name,
.price_value,
.review_name {
  font-size: 24px;
  font-weight: bold;
}

.gallery_images {
  column-gap: 0;
}

.gallery_img {
  width: 100%;
}

.footer {
  background-color: $charcoal;
  color: $white;
  box-sizing: border-box;
  padding-bottom: 150px;
  padding-top: 80px;
  margin-top: 80px;
}

.contacts_wrapper {
  grid-gap: 20px;
}

.contacts {
  text-align: center;
  font-size: 24px;
}

.contacts_header {
  font-weight: bold;
}
.contacts_text {
  margin-bottom: 40px;
  line-height: 32px;
}

.social {
  font-size: 0;
}

.social_link {
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
}
