// Colors
$white: #fff;
$charcoal: #333;

$breakpoint-map: (
  'desktop-up': 'min-width' 1221px,
  'desktop-down': 'max-width' 1220px,
  'tablet-up': 'min-width' 768px,
  'tablet-down': 'max-width' 767px,
  'mobile-up': 'min-width' 414px,
  'mobile-down': 'max-width' 413px
);  