<footer id="contacts" class="footer">
	<div class="container">
		<h2 class="editable">Contact us</h2>
		<div class="contacts_wrapper grid grid--2">
			<div class="contacts">
				<p class="contacts_header editable">Location</p>
				<p class="contacts_text">{{ .Params.location }}</p>
				<p class="contacts_header editable">Hours</p>
				<p class="contacts_text">
					{{ range .Params.hours }}
						<span class="contacts_days">{{ .days }}</span> {{ .hours }}<br>
					{{ end }}
				</p>
				<p class="contacts_header editable">Phone</p>
				<p class="contacts_text">{{ .Params.phone }}</p>
				<p class="social">
					{{ range .Params.social }}
						<a href="{{ .link }}" target="_blank" rel="noreferrer" class="social_link">{{ .name }}
							<img class="social_icon" src="{{ .icon_image }}" alt="{{.name}}" aria-hidden="true" width="27" height="27">
						</a>
					{{ end }}
				</p>
			</div>
			<div class="map">
				<iframe 
          src={{ .Site.Data.settings.map.src }}
          width='100%' 
          height={{ .Site.Data.settings.map.height }}
          style='border:0;'
          allowfullscreen='true' 
          loading='lazy'
        >
        </iframe>
			</div>
		</div>		
	</div>	
</footer>
