<header 
  class="main-header" 
  style="background-image: url({{ .Params.header_image }});"
>
  <div class="container main-header_wrapper">
    <nav class="main-header-nav nav">
      <img class="nav_logo" alt="Site logo" src="/img/logo.svg">
      <a href="#contacts" class="button button--inversed nav_contact">Contact us</a>
      <button class="nav_hamburger hamburger">Menu control</button>
    </nav>
    <p class="main-header_text">{{ .Params.header_text }}</p>
    <a href="#menu" class="main-header_scroll p">Menu</a>
  </div>  	
</header>
