<header 
  class="header" 
  style="background-image: url({{ .Params.header_image | absURL }});"
>
  <div class="container header_wrapper">
    <nav class="header-nav nav">
      <img class="nav_logo" alt="Site logo" src="/img/logo.svg">
      <input class="nav_switch hamburger_switch" type="checkbox" id="hamburger_switch">
      <ul class="nav_items">
        <li class="nav_item"><a href="#prices" class="nav_link">Menu</a></li>
        <li class="nav_item"><a href="#reviews" class="nav_link">Reviews</a></li>
        <li class="nav_item"><a href="#content" class="nav_link">About</a></li>
        <li class="nav_item"><a href="#contacts" class="nav_link">Contacts</a></li>
      </ul>
      <label class="nav_hamburger hamburger" for="hamburger_switch">Menu control</label>
    </nav>
    <p class="header_text">{{ .Params.header_text }}</p>
    <a href="#prices" class="header_scroll p">Menu</a>
  </div>  	
</header>
