<section class="prices-section" id="prices">
  <div class="container">
    <h2>Pizza menu</h2>
    <div class="prices grid grid--3">
      {{ range . }}
        <div class="price grid_col">
          <div class="price_header">
            <span class="price_name">
              {{.meal}}
            </span>
            <span class="price_value">
              ${{.price}}
            </span>
          </div>
          <p class="pric_description">
            {{ .description }}
          </p>
        </div>
      {{ end }}
     </div>
  </div>
</section>