<section id="reviews" class="reveiws-section">
  <div class="container">
    <h2>Customer reviews</h2>
    <div class="reviews grid grid--2">
      {{ range . }}
        <div class="review">
          <div class="review_header">
            <span class="review_name">{{ .name }}</span>
            <span class="review_rating">
              {{ range (seq .rating)}}
                <img src="/img/rating-star.svg" alt="review-rating" aria-hidden="true">
              {{ end }}
            </span>
          </div>
          <p class="review_text">{{ .text }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</section>