<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      {{ with .Site.Menus.main }}
      <nav>
        <ul>
          {{ range . }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
      {{ end }}
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
	
</header>
