<header class="main-header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="{{ .Site.BaseURL }}"><img src="/logo.svg" alt="Site logo"></a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end navbar-contact-us">
       <button class="button button-inversed">Contact us</button> 
      </div>
    </div>
    <a role="button" class="navbar-burger" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </nav>
  <p class="hero-text">{{ .Params.hero }}</p>
  <a class="with-arrow">Menu</a>
	
</header>
